t {
    color: #c24e01;
}

ta {
    color: #070068;
}

html {font-size: 16px; /* px significa "pixels": o tamanho da fonte base é agora de 12 pixels */
     font-family: 'Open Sans', sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
      background-color: #777777;
}

h1 {
    font-size: 42px;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: rgb(87, 87, 87);
    letter-spacing: 0px;
}

span {
    background-color: rgb(182, 182, 182);
}

p, li {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
p {
    text-indent: 40px;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(0, 0, 0);
}
box {
    display: block;
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(0, 0, 0);
}
img {
    display: block;
    width: 75px ;
    margin: 0 auto;
    padding: 0 0 0 0;
}
