body {
    width: 1000px;
}
html {font-size: 16px; /* px significa "pixels": o tamanho da fonte base é agora de 12 pixels */
    font-family: 'Open Sans', sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
     background-color: #777777;
}